<%- include("includes/head.ejs") %>
<link rel="stylesheet" href="css/create-post.css">
<script src="/javascript/create-post.js" defer></script>
  </head>
  <body>

    <%- include("includes/navbar.ejs") %>
  </body>
</html>
