<%- include("includes/head.ejs") %>
<link rel="stylesheet" href="css/home.css">
<script src="/javascript/home.js" defer></script>
</head>
  <body>

    <nav class="top-nav">

      <div class="logo">
        <img src="https://www.instagram.com/static/images/web/mobile_nav_type_logo.png/735145cfe0a4.png" alt="Instagram">
      </div>

      <div class="send">
        <svg aria-label="Direct" class="_8-yf5 " color="#262626" fill="#262626" height="22" role="img"
                viewBox="0 0 48 48" width="22">
                <path
                    d="M47.8 3.8c-.3-.5-.8-.8-1.3-.8h-45C.9 3.1.3 3.5.1 4S0 5.2.4 5.7l15.9 15.6 5.5 22.6c.1.6.6 1 1.2 1.1h.2c.5 0 1-.3 1.3-.7l23.2-39c.4-.4.4-1 .1-1.5zM5.2 6.1h35.5L18 18.7 5.2 6.1zm18.7 33.6l-4.4-18.4L42.4 8.6 23.9 39.7z">
                </path>
        </svg>
      </div>
    
    </nav>
    
    <section class="posts">

        <div class="post post-1">
          <div class="profile">
            <div class="profle-picture">Profile PIC 1</div>
            <div class="profile-name">emma_123</div>
          </div>
          <div class="post-img">Women doing YOGA</div>
          <ul>
            <li>Heart</li>
            <li>Comment</li>
            <li>Share</li>
          </ul>
          <div class="profiles-liked">
            <div class="profile-pictures"></div>
            <p>Liked by <b>marie_lee</b> and <b>582 others</b></p>
          </div>
          <div class="comments">
            <p><b>emma_123</b> Hi! #fitness #gym</p>
            <p>View all 54 comments</p>
            <p>6 hours ago</p>
          </div>
        </div>
        
        <div class="post post-2">
          <div class="profile">
            <div class="profle-picture">Profile PIC 2</div>
            <div class="profile-name">daily_forest</div>
          </div>
          <div class="post-img">FOREST</div>
          <ul>
            <li>Heart</li>
            <li>Comment</li>
            <li>Share</li>
          </ul>
          <div class="profiles-liked">
            <div class="profile-pictures"></div>
            <p>Liked by <b>morgankelly</b> and <b>204 others</b></p>
          </div>
          <div class="comments">
            <p><b>daily_forest</b> Good morning #forest</p>
            <p>View all 4 comments</p>
            <p>1 day ago</p>
          </div>
        </div>  

        <div class="post post-3">
          <div class="profile">
            <div class="profle-picture">Profile PIC 3</div>
            <div class="profile-name">johnh_18</div>
          </div>
          <div class="post-img">SKIING STUNT</div>
          <ul>
            <li>Heart</li>
            <li>Comment</li>
            <li>Share</li>
          </ul>
          <div class="profiles-liked">
            <div class="profile-pictures"></div>
            <p>Liked by <b>marie_lee</b> and <b>653 others</b></p>
          </div>
          <div class="comments">
            <p><b>johnh_18</b> Nice slopes #ski #mountain</p>
            <p>View all 78 comments</p>
            <p>7 days ago</p>
          </div>
        </div> 

    </section>

    <%- include("includes/navbar.ejs") %>
  </body>
</html>
