<%- include("includes/head.ejs") %>
<link rel="stylesheet" href="css/home.css">
<script src="/javascript/home.js" defer></script>
</head>
  <body>

    <%= message %>
    
    <%- include("includes/navbar.ejs") %>
  </body>
</html>
