*{
    max-width: 414px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row{
    padding: 2rem;
}

.row-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row-2{
    display: flex;
    flex-direction: column;
}

.btn-share{
    font-weight: bold;
    color: #fff;
    padding: .5rem 1.5rem;
    border-radius: 10px;
    letter-spacing: 2px;
    border: none;
    background-color: #0085ff;
}

.pointer{
    cursor: pointer;
}

.button{
    padding: 1rem 1.5rem;
    margin: .5rem;
    border-radius: 10px;
    border: 1px solid black;
    font-weight: bold;
}

label{
    font-size: 1.2rem;
    padding-top: 1.5rem;
}

input{
    border: none;
    outline: none;
    padding: .3rem .5rem;
    border-bottom: 1px solid #0085ff;
}

.modal-container{
    max-width: 300px;
    padding: 1rem;
    background-color: #fff;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
}

.message{
    padding: 1rem;
}

.btns{
    display: flex;
    justify-content: center;
}

.btn-yes{
    background-color: #0085ff;
    color: #fff;
    border: #0085ff;
}

.btn-no{
    color: #0085ff;
    border: 1px solid #0085ff;
}

.hidden {
    display: none;
}