*{
    max-width: 385px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

li{
    list-style-type: none;
}

.pointer{
    cursor: pointer;
}

.top-nav{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid black;
    z-index: 99;
    background-color: cornflowerblue;
}

.bottom-nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 1rem;
    z-index: 99;
    background-color: blueviolet;
}

.bottom-nav ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 1rem;
}

.img{
    width: 22px;
}

.posts{
    height: 100%;
    padding-top: 4rem;
    padding-bottom: 5rem;
    background-color: darkcyan;
}

.profile{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding-top: 1.5rem;
}

.img-pro{
    width: 2rem;
}

.post-img{
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.post-options {
    display: flex;
    align-items: center;
    padding-top: .5rem;
}

.alignment{
    margin-left: 1rem;
}

.post-options li{
    padding-right: 1rem;
}

p{
    padding-top: .25rem;
}